@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav .logo {
    z-index: 2;
}

nav .logo h1 {
  display: flex;
  align-items: center;
  font-size: 38px;
  font-family: 'Poller One', cursive;
  padding: 20px;
  font-weight: 900;
  color: white;
}

nav .logo span {
  font-size: 50px;
}

nav .blur_container {
  position: absolute;
  top: -150px;
  display: flex;
  gap: 20px;
  filter: blur(50px);
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .blur_container div {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: blur(70px);
}

nav .blur_container div:nth-child(1){
    background-color: rgb(21, 189, 255);
}

nav .blur_container div:nth-child(2){
    background-color: rgb(255, 61, 100);
}
.search_box_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: sticky;
    top: 20px;
    padding: 0px 30px;
    /* position: relative; */
}

.search_box_container .search_box{
    display: flex;
    align-items: center;
    width:100% ;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.146);
    border-radius: 8px;
    padding:0px 10px;
    height: 55px;
    
}

.search_box_container .search_box span{
    font-size: 30px;
    color: gray;
}

.search_box_container .search_box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1100px;
    min-width: 0;
    margin: 0px auto;
    margin-top: 70px;
    gap: 20px;
    padding-bottom: 20px;
    padding: 0px 30px;
    min-height: calc(100vh - 250px);
}

.card_container .card{
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(1, 1, 1, 0.146);
    background-color: white;
    max-height: 250px;
    text-align: center;
}

.card_container .card img{
    border-radius: 10px;
    width: 100%;
    height: 170px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card_container .card h3{
    margin-top: 10px;
    font-size: 18px;
}

.card_container .loader_card{
    height: 220px;
    border-radius: 10px;
}

.card_container .loader_card .image{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 140px;
    position: relative;
    overflow: hidden;
}

.card_container .loader_card .image::before, 
.card_container .loader_card .details_container .title::before,
.card_container .loader_card .details_container .text::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,white, rgb(237, 237, 237));
    filter: blur(1px);
    animation: loader_animate 1.4s linear infinite;
}

@keyframes loader_animate {
    to{
        transform: translate(100%);
    }
}

.card_container .loader_card .details_container{
    width: 100%;
    margin-top: 10px;
}


.card_container .loader_card .details_container .title{
    width: 50%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.card_container .loader_card .details_container .text{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.36);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal .modal_content{
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
}

.modal .modal_content img{
    margin-bottom: 20px;
}
.modal .modal_content span{
    position: absolute;
}
.modal .modal_content .details_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 10px;
    margin-bottom: 20px;
}

.pagination_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    margin-bottom: 20px;
    gap: 5px;
}

.pagination_container button{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.pagination_container button span{
    font-size: 13px;
}

.pagination_container button:disabled{
    cursor: not-allowed;
}

.pagination_container .active{
    background-color: royalblue;
    color: white;
}

.pagination_content{
    display: flex;
    align-items: center;
}


.dark{
    background-color: black;
    color: white;
}

.dark .card_container .card{
    background-color: rgb(32, 32, 32);
}

.dark 
.search_box_container .search_box{
    background-color: rgb(49, 49, 49);
}

.dark .search_box_container .search_box span{
    color: whitesmoke;
}

.dark .search_box_container .search_box input{
    color: white;
}

.dark .modal{
    background-color: rgba(0, 0, 0, 0.587);
}

.dark .modal .modal_content{
    background-color: rgb(25, 25, 25);
}

.dark .card_container .loader_card .image,
.dark .card_container .loader_card .details_container .title,
.dark .card_container .loader_card .details_container .text{
    background-color: rgb(49, 49, 49);
}

.dark .card_container .loader_card .image::before, 
.dark .card_container .loader_card .details_container .title::before,
.dark .card_container .loader_card .details_container .text::before{
    background: linear-gradient(90deg,rgb(49, 49, 49), black);
}

.error_container{
    text-align: center;
    width: calc(100vw );
    margin: 0px auto;
    position: absolute;
    height: 100%;
    max-height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
}

.error_container span{
    font-size: 50px;
}

@media screen and (max-width:991px) {
    .card_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:730px) {
    nav .logo h1 {
        font-size: 30px;
    }
    .card_container{
        grid-template-columns: repeat(2, 1fr);
       max-width: 550px;
       gap: 10px;
       margin-top: 30px;
       padding: 0px 10px;

    }
    .card_container .card h3{
        font-size: 15px;
    }
    .pagination_container{
        justify-content: center;
        padding: 10px 0px;
        margin-top: 20px;
    }

    .search_box_container .search_box{
        height: 40px;
    }
    .search_box_container .search_box span{
        font-size: 20px;
        color: gray;
    }
    .search_box_container .search_box input{
        font-size: 14px;
    }
    .error_container span{
        font-size: 35px;
    }
    .error_container h2{
        font-size: 16px;
    }
}